body {
    text-align: center;
    background: #111;
    color: white;
    font-family: Arial;
}

#menu {
    margin-bottom: 20px;
}

#game {
    position: relative;
    width: 400px;
    height: 600px;
    margin: auto;
    border: 3px solid white;
    display: flex;
    overflow: hidden;
}

.lane {
    flex: 1;
    border: 1px solid #333;
    position: relative;
}

.note {
    position: absolute;
    width: 100%;
    height: 25px;
    background: cyan;
}

#hit-line {
    position: absolute;
    bottom: 100px;
    width: 100%;
    height: 5px;
    background: red;
}

#hud {
    margin: 10px;
}

#health-container {
    width: 400px;
    height: 20px;
    border: 2px solid white;
    margin: 10px auto;
}

#health-bar {
    height: 100%;
    width: 50%;
    background: lime;
}

button {
    margin: 5px;
    padding: 8px 15px;
}
