body {
    text-align: center;
    background: #111;
    color: white;
    font-family: Arial;
}

#game {
    position: relative;
    width: 400px;
    height: 600px;
    margin: auto;
    border: 3px solid white;
    display: flex;
}

.lane {
    flex: 1;
    border: 1px solid #333;
    position: relative;
}

.note {
    position: absolute;
    width: 100%;
    height: 25px;
    background: cyan;
}

#hit-line {
    position: absolute;
    bottom: 100px;
    width: 100%;
    height: 5px;
    background: red;
}
