body {
    text-align: center;
    font-family: Arial;
    background: #111;
    color: white;
}

#game {
    position: relative;
    width: 400px;
    height: 600px;
    margin: auto;
    border: 3px solid white;
    display: flex;
}

.lane {
    flex: 1;
    border-left: 1px solid gray;
    border-right: 1px solid gray;
    position: relative;
}

.note {
    position: absolute;
    width: 100%;
    height: 20px;
    background: cyan;
    top: 0;
}

#hit-line {
    position: absolute;
    bottom: 100px;
    width: 100%;
    height: 5px;
    background: red;
}
